<ul class="list-unstyled left-elems">
	<!-- nav trigger/collapse -->
	
	<!-- #end nav-trigger -->

	<!-- Search box -->
	<li>
		<!-- <div class="form-search hidden-xs">
			<form id="site-search" action="#na">
				<input type="search" class="form-control" placeholder="Type here for search...">
				<button type="submit" class="ion ion-ios-search-strong"></button>
			</form>
		</div> -->
	</li>	<!-- #end search-box -->

	<!-- site-logo for mobile nav -->
	<li>
		<div class="site-logo visible-xs">
			<a href="#/dashboard" class="text-uppercase h3">
				<span class="text">Materia</span>
			</a>
		</div>
	</li> <!-- #end site-logo -->

	<!-- fullscreen -->
	<li class="fullscreen hidden-xs" ng-click="goFullScreen()">
		<a href><i class="ion ion-qr-scanner"></i></a>

	</li>	<!-- #end fullscreen -->

	<!-- notification drop --><!-- #end notification drop -->

</ul>


<ul class="list-unstyled right-elems">
	<!-- profile drop -->
	<li class="profile-drop hidden-xs dropdown" dropdown>
		<a href dropdown-toggle>
			<img src="images/admin.jpg" alt="admin-pic">
		</a>
		<ul class="dropdown-menu dropdown-menu-right">
			<li><a href="javascript:;"><span class="ion ion-power">&nbsp;&nbsp;</span>Logout</a></li>
		</ul>
	</li>
	<!-- #end profile-drop -->

	<!-- sidebar contact -->
</ul>

